# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
.env

# Node / React
node_modules/
/frontend/build/
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project Specific
backend/securecc.db
backend/package-lock.json
package.json
package-lock.json
backend/test_output.txt
backend/test_pipeline.py
tmp/
